<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322178410818-r2f9666aaj7t0n813fv5iomj6010sl4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322178410818-r2f9666aaj7t0n813fv5iomj6010sl4m</string>
	<key>API_KEY</key>
	<string>AIzaSyDYh1gTYZ7fcT1kRzmwT8PVP2v4aI-1pbY</string>
	<key>GCM_SENDER_ID</key>
	<string>322178410818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinhqui.ez.Conceptcube-Test-App</string>
	<key>PROJECT_ID</key>
	<string>cardsapp-3b9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>cardsapp-3b9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322178410818:ios:2df22e056f33b1bcec80db</string>
</dict>
</plist>